/* ESTILOS GENERALES */
body {
    margin: 0;
}

/* INICIO ESTILOS DEL NAVBAR */

nav {
    height: 90px;    
}

.containerNav {
    font-size: 12px;
    padding: 20px 0 20px 0;
    background-color: #262626;
    color: white;
}

.textNavcenter {
    padding-top: 20px;
}

/* FINAL ESTILOS DEL NAVBAR */

/* INICIO ESTILOS DEL PIE DE PAGINA O FOOTER */

.nuestraTrayectoria {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.textNuestratrayectoria {
    font-size: 25px;
}
.iconTrayectoria {
    font-size: 70px;
}

/* INICIO ESTILOS DEL PIE DE PAGINA O FOOTER */


.titleContact {
    font-size: 30px;
    text-align: center;
    padding: 30px 0 30px 0;
    margin: 50px 0 0 0;
    background-color: #262626;
    color: white;
}

.containerContact {
    padding: 50px 0 50px 0;
    background-color: #2E2E2E;
    color: white;
    
}

.parrafoContact {
    margin-top: 100px;
}

/* INICIO ESTILOS DEL FORMULARIO */

.boxForm {
    border: solid 1px;
    border-radius: 10%;
    padding: 30px;
    background-color: #e2e2e2;
    color: black;
}

.userIcon {
    font-size: 70px;
    color: black;
}

/* FIN ESTILOS DEL FORMULARIO */

/* INICIO ESTILOS DEL FOOTER */

.containerFooter {
    padding: 100px 0 100px 0;
    background-color: #262626;
    color: white;
}

/* FINAL ESTILOS DEL FOOTER */

.titleFinalAG {
    font-size: 30px;
}

.titleFinalContact {
    font-size: 20px;
    margin-bottom: 50px;
}

.iconRedes {
    font-size: 40px;
}

.titleFooter {
    font-size: 15px;
}


/* FIN ESTILOS DEL PIE DE PAGINA O FOOTER */
